.infos {
  display: flex;
}

.information {
}

.titre {
  color: #ff6060;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 36px;
}

.location {
  color: #ff6060;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.proprietaire {
}

.noms {
}

.picture {
}
