.page {
  margin: 4%;
}

.infosLogement {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
  margin: auto;
  justify-content: center;
}

.infos {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.titre {
  color: #ff6060;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 36px;
  max-height: 51px;
  margin-bottom: 0px;
}

.location {
  color: #ff6060;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 20px;
}

.proprietaire {
  display: flex;
  margin-top: 24px;
  /* align-items: flex-start; */
  justify-content: flex-end;
  /* width: 100%; */
  /* justify-content: space-between;*/
}

.noms {
  color: #ff6060;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  display: block;
  text-align: end;
  max-width: 50%;
}

.picture {
  border-radius: 100%;
  max-height: 64px;
  max-width: 64px;
  margin-left: 10px;
}

.tag {
  background-color: #ff6060;
  border-radius: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 40px;
  padding-right: 40px;
  margin-right: 10px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  max-width: 115px;
  max-height: 25px;
}

.divProprietaire {
  display: flex;
  flex-direction: column;
  /*width: 9%;*/
}

.collapse {
  display: flex;
  margin-top: 24px;
  gap: 5%;
}

.equipement {
  list-style-type: none;
}
