.footer{
    max-height: 209px;
    min-height: 114px;
    max-width: 100%;
    background-color: black;
    text-align: center;
    align-items: center;
    padding: 66px 464px 29px 463px;
}

.logoFooter{
    max-width: 122px;
    max-height: 40px;
}

.textFooter{
    color: white;
    max-height: 46px;
    font-family: 'Montserrat', sans-serif;
}