.barre{
    margin: 40px 100px;
    max-width: 100%;
    max-height: 171px;
}

.LogoHeader{
    max-width: 122px;
    max-height: 698px;
    padding-right: 70%;
}


.accueil{
    text-decoration: none;
    color: #FF6060;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin-right: 4%;
}

.accueil:hover{
    border-bottom: 1px solid #FF6060;
    padding-bottom: 25px;
}


.about{
    text-decoration: none;
    color: #FF6060;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.about:hover{
    border-bottom: 1px solid #FF6060;
    padding-bottom: 25px;
}
