.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blockThumb {
  gap: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* justify-content: space-around; */
  max-width: 90%;
  background-color: #f6f6f6;
  margin-top: 43px;
  border-radius: 25px;
  padding-bottom: 2.5%;
}

@media all and (max-width: 991px) {
  .blockThumb {
    background-color: white;
    display: block;
    min-width: 95%;
  }
}
@media all and (max-width: 767px) {
  .blockThumb {
    background-color: white;
    max-width: 95%;
    margin-top: 0px;
  }
}
