.section {
  width: 100%;
  border-radius: 25px;
}

.carrousel {
  display: flex;
  min-height: 415px;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-end;
}

.fleche {
  display: flex;
  justify-content: space-between;
}

.number {
  align-self: center;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: white;
  margin-top: 10%;
}
