.blockBarre {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4%;
  margin-bottom: 4.3%;
}
.barre {
  justify-content: space-between;
  /* margin: 40px 20px 40px 50px; */
  width: 100%;
  /* max-height: 7%; */
  display: flex;
  margin-left: 4%;
  margin-right: 4%;
}

.LogoHeader {
  /*max-width: 122px;
  max-height: 698px;
  padding-right: 70%;*/
}

.navBarre {
  display: flex;
  flex-wrap: nowrap;
  width: 20%;
  justify-content: space-between;
  align-items: center;
}

.accueil {
  text-decoration: none;
  color: #ff6060;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  margin-right: 4%;
}

.accueil.active {
  border-bottom: 1px solid #ff6060;
}

.about {
  text-decoration: none;
  color: #ff6060;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.5em;
}

.about.active {
  border-bottom: 1px solid #ff6060;
}
