.pageError {
  text-align: center;
  max-height: 100%;
  /*margin-bottom: 159px;
  margin-top: 169px;*/
}

.Err404 {
  color: #ff6060;
  font-size: 288px;
  font-weight: 700;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 0%;

  max-height: 263px;
  margin-bottom: 66px;
}

.textError {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #ff6060;
  max-height: 51px;
  margin-bottom: 182px;
}

.lien {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #ff6060;
  max-height: 26px;
  margin-bottom: 159px;
}
